@model ProjectMann.Core.Domain.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FkAsignadoA" class="control-label"></label>
                <select asp-for="FkAsignadoA" class ="form-control" asp-items="ViewBag.FkAsignadoA"></select>
            </div>
            <div class="form-group">
                <label asp-for="Contenido" class="control-label"></label>
                <input asp-for="Contenido" class="form-control" />
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkPrioridad" class="control-label"></label>
                <select asp-for="FkPrioridad" class ="form-control" asp-items="ViewBag.FkPrioridad"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkEstado" class="control-label"></label>
                <select asp-for="FkEstado" class ="form-control" asp-items="ViewBag.FkEstado"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkTipoTicket" class="control-label"></label>
                <select asp-for="FkTipoTicket" class ="form-control" asp-items="ViewBag.FkTipoTicket"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkUsuarioModifica" class="control-label"></label>
                <select asp-for="FkUsuarioModifica" class ="form-control" asp-items="ViewBag.FkUsuarioModifica"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkUsuarioCrea" class="control-label"></label>
                <select asp-for="FkUsuarioCrea" class ="form-control" asp-items="ViewBag.FkUsuarioCrea"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

