@model ProjectMann.Core.Domain.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTicket" />
            <div class="form-group">
                <label asp-for="FkAsignadoA" class="control-label">Desarrollador asignado</label>
                <select asp-for="FkAsignadoA" class="form-control" asp-items="ViewBag.FkAsignadoA"></select>
                <span asp-validation-for="FkAsignadoA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contenido" class="control-label"></label>
                <textarea cols="20" asp-for="Contenido" name="Contenido" rows="2" class="form-control">Contenido</textarea>
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkPrioridad" class="control-label">Tipo de prioridad</label>
                <select asp-for="FkPrioridad" class="form-control" asp-items="ViewBag.FkPrioridad"></select>
                <span asp-validation-for="FkPrioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkTipoTicket" class="control-label">Tipo de ticket</label>
                <select asp-for="FkTipoTicket" class="form-control" asp-items="ViewBag.FkTipoTicket"></select>
                <span asp-validation-for="FkTipoTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkEstado" class="control-label">Estado</label>
                <select asp-for="FkEstado" class="form-control" asp-items="ViewBag.FkEstado"></select>
                <span asp-validation-for="FkEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index">
                    <input type="button" value="Volver" class="btn btn-secondary" />
                </a>
            </div>
        </form>
    </div>
</div>
